/* Error: @extend may only be used within style rules.
 *   ,
 * 4 | @extend fontStyle($f:16px,$w,$h:1.3){
 *   | ^^^^^^^^
 *   '
 *   scss\common.scss 4:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @extend may only be used within style rules.\a   \2577 \a 4 \2502  @extend fontStyle($f:16px,$w,$h:1.3){\d\a   \2502  ^^^^^^^^\a   \2575 \a   scss\\common.scss 4:1  root stylesheet";
}
