@import url(../css/reset.css);
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.btw-flex {
  display: flex;
  justify-content: space-between;
}

.font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
  opacity: 0.01;
}

body.overflow {
  overflow: hidden;
}

.main {
  overflow: hidden;
}
.main * {
  font-size: 16px;
}
@media screen and (max-width: 760px) {
  .main * {
    font-size: 14px;
  }
}

.section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.section:nth-of-type(even) {
  background-color: #fefefe;
}
.section:nth-of-type(even) .tit.font-bold {
  color: #222;
}
.section:nth-of-type(odd) {
  background-color: #222;
}
.section:nth-of-type(odd) .tit.font-bold {
  color: #fefefe;
}
.section .tit.font-bold {
  font-size: 130px;
  line-height: 1;
  padding-bottom: 20px;
  text-align: center;
  transition: 0.3s;
}
.section .inner {
  position: relative;
  display: flex;
  align-content: stretch;
  width: 100%;
  max-width: 1240px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px;
}
@media screen and (max-width: 1000px) {
  .section .inner {
    padding: 50px;
  }
  .section .inner .tit.font-bold {
    font-size: 100px;
  }
}
@media screen and (max-width: 760px) {
  .section .inner {
    padding: 50px 20px;
  }
  .section .inner .tit.font-bold {
    font-size: 80px;
  }
}
@media screen and (max-width: 500px) {
  .section .inner .tit.font-bold {
    font-size: 60px;
  }
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #777;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #777;
}
input::placeholder, textarea::placeholder {
  color: #777;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #777;
}

.section1 {
  position: relative;
  overflow: hidden;
}
.section1 .bg-img-box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section1 .bg-img-box span:not(.txt), .section1 .bg-img-box strong {
  position: absolute;
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
.section1 .bg-img-box span:not(.txt) {
  animation: autoBgAni 0.5s linear both;
}
.section1 .bg-img-box strong {
  animation: clickBgAni 3s linear infinite;
}
.section1 .bg-img-box .xi-angle-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 16px;
  color: #fefefe;
  z-index: 10;
  text-align: center;
  animation: scroll 2s infinite linear;
}
.section1 .bg-img-box .xi-angle-down .txt {
  display: block;
}
.section1 .bg-img-box .xi-angle-down .txt.desc {
  color: #444;
  font-size: 10px;
}
.section1 .bg-img-box .xi-angle-down::before {
  content: "";
}
.section1 .bg-img-box .xi-angle-down::after {
  content: "\e941";
  display: block;
  padding-top: 4px;
}
.section1 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.section1 .title-block {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  grid-template-areas: ". . . a a a a ." ". i1 i1 i1 b b b b" ". . c c c i2 . ." ". . . d d d d .";
}
.section1 .title-block li {
  position: relative;
  border: 6px solid #222;
  padding: 5% 16px;
  min-width: 80px;
  background-color: #fefefe;
  animation: opacity 0.5s linear both;
}
.section1 .title-block li:not(.pattern) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .title-block li:not(.pattern)::before {
  content: "";
  position: absolute;
  right: 6px;
  top: 0;
  height: 100%;
  background-color: #fefefe;
  opacity: 1;
  animation: titBg-X 0.2s 0.6s both;
}
.section1 .title-block li:not(.pattern) * {
  font-family: "Gasoek One", "Russo One", sans-serif;
  font-size: 40px;
}
.section1 .title-block li:nth-child(1) {
  grid-area: a;
  transform-origin: right bottom;
  transform: rotate(5deg);
}
.section1 .title-block li:nth-child(2) {
  position: relative;
  grid-area: i1;
  overflow: hidden;
  margin: -6px;
  z-index: 1;
}
.section1 .title-block li:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5076px;
  background: #bb92d4 url(../images/bg/wave.png) center;
  background-size: auto 300%;
  background-repeat: repeat-x;
  animation: bgMoving-X 100s linear infinite;
}
.section1 .title-block li:nth-child(3) {
  grid-area: b;
  margin: -6px 0;
}
.section1 .title-block li:nth-child(4) {
  grid-area: c;
  margin: 0 -6px -6px;
}
.section1 .title-block li:nth-child(5) {
  position: relative;
  grid-area: i2;
  margin: 0 -6px -6px;
  overflow: hidden;
  z-index: 1;
}
.section1 .title-block li:nth-child(5)::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  width: 117%;
  height: 10000%;
  background: #90d8cc;
  background-image: radial-gradient(#222 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  animation: bgMoving-y linear 200s infinite;
}
.section1 .title-block li:nth-child(6) {
  grid-area: d;
  transform: rotate(-5deg);
  transform-origin: right top;
}
@media screen and (max-width: 760px) {
  .section1 .bg-img-box .xi-angle-down {
    font-size: 12px;
  }
  .section1 .title-block {
    padding: 0 80px;
  }
  .section1 .title-block li:not(.pattern) * {
    font-size: 4vw;
  }
}
@media screen and (max-width: 460px) {
  .section1 .title-block {
    padding: 0 30px;
  }
  .section1 .title-block li:not(.pattern) * {
    font-size: 5vw;
  }
}

@keyframes bgMoving-y {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0);
  }
}
@keyframes bgMoving-X {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
@keyframes titBg-X {
  0% {
    width: calc(100% - 12px);
  }
  100% {
    width: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes autoBgAni {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes clickBgAni {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  5%, 95% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
@keyframes scroll {
  0%, 100% {
    bottom: 25px;
  }
  50% {
    bottom: 20px;
  }
}
.snb {
  position: fixed;
  right: -100%;
  top: 50%;
  background-color: #222;
  z-index: 10;
  transition: 0.5s;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.snb.open {
  right: 0%;
  opacity: 1;
}
.snb.mo-nav {
  opacity: 0.5;
  right: -43px;
}
@media screen and (max-width: 760px) {
  .snb.open nav {
    padding-left: 20px;
  }
  .snb.open nav .btn-side-open {
    display: block;
  }
}
.snb nav {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.snb nav .btn-side-open {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 15px;
  color: #fefefe;
}
.snb nav .btn-side-open span {
  display: block;
}
.snb nav .btn-move {
  position: relative;
  text-align: center;
  color: #fefefe;
  margin: 10px 0;
}
.snb nav .btn-move .name {
  display: block;
  height: 0;
  opacity: 0;
  font-size: 12px;
  transition: 0.3s;
}
.snb nav .btn-move.active .name {
  height: 13px;
  opacity: 1;
}
.snb nav .btn-move.active span::before {
  color: #fefefe !important;
}
.snb nav .btn-move:hover .name {
  height: 13px;
  opacity: 1;
}
.snb nav .btn-move span {
  display: block;
  margin-right: 8px;
  margin: 0 auto 4px;
}
.snb nav .btn-move span::before {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 50em;
  transition: 0.3s;
}
.snb nav .btn-move:nth-child(2).active span::before {
  background-color: #0f84f4;
}
.snb nav .btn-move:nth-child(2) span::before {
  color: #0f84f4;
}
.snb nav .btn-move:nth-child(2):hover {
  color: #0f84f4;
}
.snb nav .btn-move:nth-child(3).active span::before {
  background-color: #7a3ac7;
}
.snb nav .btn-move:nth-child(3) span::before {
  color: #7a3ac7;
}
.snb nav .btn-move:nth-child(3):hover {
  color: #7a3ac7;
}
.snb nav .btn-move:nth-child(4).active span::before {
  background-color: #ef4536;
}
.snb nav .btn-move:nth-child(4) span::before {
  color: #ef4536;
}
.snb nav .btn-move:nth-child(4):hover {
  color: #ef4536;
}
.snb nav .btn-move:nth-child(5).active span::before {
  background-color: #f4c500;
}
.snb nav .btn-move:nth-child(5) span::before {
  color: #f4c500;
}
.snb nav .btn-move:nth-child(5):hover {
  color: #f4c500;
}

.section2 .inner {
  position: relative;
  z-index: 1;
  flex-direction: column;
}
.section2 .inner .about-list {
  z-index: 4;
}
.section2 .inner .about-list .about-text {
  padding: 40px 40px 60px;
  background-color: #fefefe;
  border: 20px solid #222;
}
.section2 .inner .about-list .about-text h1 {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  gap: 30px;
}
.section2 .inner .about-list .about-text h1 * {
  font-size: 20px;
  font-weight: bold;
}
.section2 .inner .about-list .about-text h1 .br {
  display: none;
}
.section2 .inner .about-list .about-text h1 .profile {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  border: 2px solid #222;
  background: #fefefe url(../images/img/msface.jpg) no-repeat center;
  background-size: contain;
}
.section2 .inner .about-list .about-text h1 strong {
  position: relative;
}
.section2 .inner .about-list .about-text h1 strong::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: calc(100% + 6px);
  height: 60%;
  background-color: #f2d200;
  opacity: 0.2;
  transform: translateX(-50%) skew(10deg);
}
.section2 .inner .about-list .about-text p {
  padding-top: 10px;
  line-height: 1.6;
}
.section2 .inner .about-list .about-text p strong {
  text-decoration: underline;
}
.section2 .inner .skill-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-content: stretch;
}
.section2 .inner .skill-list li {
  position: relative;
  flex: 1;
  display: flex;
  padding: 20px;
}
.section2 .inner .skill-list li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  height: 50%;
  width: 50px;
  background-color: #222;
}
.section2 .inner .skill-list li > div:nth-child(1) {
  position: relative;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.4);
  align-self: center;
  padding: 60px 20px 100px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.section2 .inner .skill-list li > div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  height: 14px;
  width: 70px;
  background-color: #fefefe;
  border-radius: 50em;
}
.section2 .inner .skill-list li > div:nth-child(1)::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 14px;
  width: 50px;
  background-color: #222;
  border-radius: 0 0 3px 3px;
}
.section2 .inner .skill-list li > div:nth-child(1) .s-tit {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  background-color: #222;
  color: #fefefe;
  font-size: 28px;
  transition: 0.3s;
  font-family: "Russo One";
}
.section2 .inner .skill-list li > div:nth-child(1) .img-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.section2 .inner .skill-list li > div:nth-child(1) .img-box img {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.section2 .inner .skill-list li > div:nth-child(1) .img-box p {
  text-align: center;
}
.section2 .inner .skill-list li > div:nth-child(1) .img-box p span {
  display: block;
  color: #fefefe;
  font-size: 14px;
}
.section2 .inner .skill-list li:nth-child(1) {
  padding-top: 50px;
  z-index: 3;
}
.section2 .inner .skill-list li:nth-child(1) > div:nth-child(1) {
  align-self: flex-start;
  transform: rotate(-15deg);
  background-color: #f4c500;
}
.section2 .inner .skill-list li:nth-child(2) {
  z-index: 2;
}
.section2 .inner .skill-list li:nth-child(2) > div:nth-child(1) {
  align-self: flex-end;
  transform: rotate(15deg);
  background-color: #7a3ac7;
}
.section2 .inner .skill-list li:nth-child(3) {
  padding-top: 200px;
  z-index: 1;
}
.section2 .inner .skill-list li:nth-child(3) > div:nth-child(1) {
  align-self: flex-start;
  transform: rotate(-5deg);
  background-color: #0f84f4;
}
@media screen and (max-width: 1130px) {
  .section2 .inner .skill-list li > div:nth-child(1) .s-tit {
    font-size: 24px;
  }
}
@media screen and (max-width: 860px) {
  .section2 .inner .skill-list li > div:nth-child(1) .img-box {
    gap: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 760px) {
  .section2 .inner .about-list .about-text {
    padding: 30px 20px;
    border-width: 10px;
  }
  .section2 .inner .about-list .about-text h1 {
    gap: 20px;
  }
  .section2 .inner .about-list .about-text h1 .br {
    display: block;
  }
  .section2 .inner .about-list .about-text h1 * {
    font-size: 16px;
  }
  .section2 .inner .about-list .about-text h1 .profile {
    width: 80px;
    height: 80px;
  }
  .section2 .inner .skill-list {
    flex-direction: column;
  }
  .section2 .inner .skill-list li:nth-child(2)::before {
    top: -20%;
  }
  .section2 .inner .skill-list li:nth-child(3)::before {
    top: -10%;
  }
  .section2 .inner .skill-list li > div:nth-child(1) {
    padding-bottom: 60px;
  }
  .section2 .inner .skill-list li > div:nth-child(1) .img-box {
    justify-content: flex-start;
  }
  .section2 .inner .skill-list li > div:nth-child(1) .img-box img {
    width: calc(4vw + 30px);
    height: calc(4vw + 30px);
  }
  .section2 .inner .skill-list li > div:nth-child(1) .s-tit {
    bottom: 0;
    font-size: 20px;
  }
  .section2 .inner .skill-list li:nth-child(1) > div:nth-child(1) {
    transform: rotate(5deg);
  }
  .section2 .inner .skill-list li:nth-child(2) > div:nth-child(1) {
    transform: rotate(-1deg);
  }
  .section2 .inner .skill-list li:nth-child(3) {
    padding-top: 30px;
  }
  .section2 .inner .skill-list li:nth-child(3) > div:nth-child(1) {
    transform: rotate(2deg);
  }
  .section2 .inner .skill-list li .dumi-img {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .section2 .inner .skill-list li > div:nth-child(1) .img-box {
    justify-content: center;
  }
}

@keyframes downAni {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-aos=flip-left] {
  transform: rotateY(90deg);
}

.section3 .inner {
  align-items: center;
  justify-content: center;
}
.section3 .inner > div {
  display: block;
}
.section3 .inner > div .swiper {
  max-width: 1040px;
  padding: 50px 0 100px;
}
.section3 .inner > div .swiper-wrapper {
  align-items: stretch;
  align-content: stretch;
}
.section3 .inner > div .swiper-slide {
  height: unset;
  border-radius: 20px;
}
.section3 .inner > div .swiper-slide .career-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 80px;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.section3 .inner > div .swiper-slide .img-box {
  flex: 1;
  position: relative;
  padding-top: 30%;
  width: 100%;
  background-color: #fefefe;
  overflow: hidden;
  box-shadow: 1px 2px 16px rgba(255, 255, 255, 0.2);
  background-repeat: repeat;
  background-size: cover;
  background-position: top center;
}
.section3 .inner > div .swiper-slide .img-box.allra {
  background-image: url(../images/site/allra.png);
}
.section3 .inner > div .swiper-slide .img-box.kace {
  background-image: url(../images/site/kace.png);
}
.section3 .inner > div .swiper-slide .img-box.dibi {
  background-image: url(../images/site/dibi.png);
}
.section3 .inner > div .swiper-slide .img-box.hak {
  background-image: url(../images/site/hak.png);
}
.section3 .inner > div .swiper-slide .img-box.clone {
  background-image: url(../images/site/clone.png);
}
.section3 .inner > div .swiper-slide .text-box {
  flex: 1;
  width: 100%;
}
.section3 .inner > div .swiper-slide .text-box * {
  color: #fefefe;
}
.section3 .inner > div .swiper-slide .text-box .date {
  font-size: 12px;
  padding-bottom: 4px;
  color: #aaa;
}
.section3 .inner > div .swiper-slide .text-box h4 {
  font-size: 28px;
  font-weight: bold;
}
.section3 .inner > div .swiper-slide .text-box h4 small {
  display: inline-block;
  padding-left: 20px;
}
.section3 .inner > div .swiper-slide .text-box .desc {
  padding-top: 4px;
}
.section3 .inner > div .swiper-slide .text-box .label {
  display: block;
  padding: 20px 0 6px;
}
.section3 .inner > div .swiper-slide .text-box .label:nth-of-type(2) {
  padding-top: 10px;
}
.section3 .inner > div .swiper-slide .text-box .tool {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 3px;
}
.section3 .inner > div .swiper-slide .text-box .tool li {
  font-size: 13px;
  border: 1px solid #0f84f4;
  padding: 2px 6px;
  color: #0f84f4;
}
.section3 .inner > div .swiper-slide .text-box .tool li.new {
  color: #f4c500;
}
.section3 .inner > div .swiper-slide .text-box .link-list {
  gap: 0 8px;
  margin-top: 20px;
}
.section3 .inner > div .swiper-slide .text-box .link-list li {
  flex: 1;
  background-color: #ef4536;
  margin: 7px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.section3 .inner > div .swiper-slide .text-box .link-list li a {
  position: relative;
}
.section3 .inner > div .swiper-slide .text-box .link-list li p small {
  display: block;
  font-size: 12px;
}
.section3 .inner > div .swiper-slide .text-box .link-list li .xi {
  display: inline-block;
  padding-left: 2px;
  vertical-align: -1px;
}
.section3 .inner > div .swiper-slide .text-box .desc {
  padding-top: 20px;
  font-size: 14px;
}
.section3 .inner > div .swiper-slide .text-box .btw-flex {
  padding-top: 20px;
  gap: 8px;
}
.section3 .inner > div .swiper-slide .text-box .btw-flex .btn-detail {
  margin-top: 20px;
  width: 100%;
  line-height: 50px;
  background-color: #ef4536;
  text-align: center;
  transition: 0.3s;
}
.section3 .inner > div .swiper-slide .text-box .btw-flex button.btn-detail {
  background-color: #b9392d;
}
.section3 .inner > div .swiper-slide .text-box .btw-flex .btn-detail:hover {
  background-color: #fefefe;
  color: #222;
}
.section3 .inner > div .swiper-button-next, .section3 .inner > div .swiper-button-prev {
  transform: translateY(100%);
}
.section3 .inner > div :is(.swiper-button-next, .swiper-button-prev)::after {
  color: #f4c500;
}
.section3 .inner > div .swiper-pagination-bullet {
  background: #fefefe;
  width: 10px;
  height: 10px;
  margin: 0 6px;
}
.section3 .inner > div .swiper-pagination-bullet-active {
  transform: scale(1.3);
}
.section3 .inner .modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.section3 .inner .modal-wrap.active {
  display: block;
  animation: opacity 0.3s both;
}
.section3 .inner .modal-wrap.closeAni {
  animation: modalClose 0.3s both;
}
.section3 .inner .modal-wrap .modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 84px 20px 20px;
  background-color: #222;
}
.section3 .inner .modal-wrap .modal-head {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 20px 40px;
  border-bottom: 2px solid #fefefe;
}
.section3 .inner .modal-wrap .modal-head .tit {
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
.section3 .inner .modal-wrap .modal-head .btn-close .xi-close-min {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50em;
  background-color: #fff;
}
.section3 .inner .modal-wrap .modal-body {
  height: 70vh;
  padding: 20px;
  overflow: auto;
}
.section3 .inner .modal-wrap .modal-body dl {
  padding: 12px 0 20px;
  margin: 4px 0 8px;
  border-bottom: 1px solid #aaa;
}
.section3 .inner .modal-wrap .modal-body dl dt {
  display: inline;
  font-weight: bold;
  color: #ddd;
  position: relative;
}
.section3 .inner .modal-wrap .modal-body dl dt::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: calc(100% + 6px);
  height: 60%;
  background-color: #f2d200;
  opacity: 0.2;
  transform: translateX(-50%) skew(10deg);
}
.section3 .inner .modal-wrap .modal-body dl dt span {
  display: block;
  font-size: 12px;
  color: #ddd;
  padding-bottom: 4px;
}
.section3 .inner .modal-wrap .modal-body dl dd {
  position: relative;
  padding-top: 8px;
}
.section3 .inner .modal-wrap .modal-body dl dd span {
  display: block;
  color: #aaa;
  padding-left: 14px;
  text-indent: -15px;
  word-break: keep-all;
}
.section3 .inner .modal-wrap .modal-body dl dd span::before {
  content: "- ";
  color: inherit;
}
.section3 .inner .modal-wrap .modal-body dl dd a {
  position: absolute;
  right: 0;
  top: -19px;
  color: #f4c500;
}
@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openAin {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
@keyframes closeAin {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}
@media screen and (max-width: 1920px) {
  .section3 .swiper {
    max-width: calc(100vw - 220px);
  }
}
@media screen and (max-width: 1100px) {
  .section3 .inner > div {
    position: relative;
  }
  .section3 .inner > div .swiper {
    max-width: calc(100vw - 320px);
    padding: 0 0 50px;
  }
  .section3 .inner > div .swiper .career-wrap {
    flex-direction: column;
  }
  .section3 .inner > div .swiper .career-wrap .img-box {
    flex: unset;
    padding-top: 0;
    height: 349px;
    width: 100%;
    box-shadow: 1px 2px 16px rgba(255, 255, 255, 0.1);
  }
  .section3 .inner > div .swiper .career-wrap .text-box .date {
    padding-top: 20px;
  }
  .section3 .inner > div .swiper .career-wrap .text-box .desc {
    padding-top: 10px;
  }
  .section3 .inner > div .swiper-button-next {
    transform: translate(calc(100% + 20px), -100%);
  }
  .section3 .inner > div .swiper-button-prev {
    transform: translate(calc(-100% - 20px), -100%);
  }
}
@media screen and (max-width: 1000px) {
  .section3 .inner > div .swiper {
    max-width: calc(100vw - 200px);
  }
}
@media screen and (max-width: 760px) {
  .section3 .inner > div .swiper {
    max-width: calc(100vw - 40px);
  }
  .section3 .inner > div .swiper .career-wrap .btw-flex .btn-detail {
    line-height: 40px;
  }
  .section3 .inner > div .swiper .career-wrap .img-box {
    min-height: 200px;
    height: 50vw;
  }
  .section3 .inner > div .swiper .career-wrap .text-box h4 {
    font-size: 24px;
  }
  .section3 .inner > div .swiper .career-wrap .text-box h4 small {
    padding-left: 6px;
  }
  .section3 .inner > div .swiper-button-next {
    display: none;
  }
  .section3 .inner > div .swiper-button-prev {
    display: none;
  }
  .section3 .inner .modal-wrap.active .modal-inner {
    animation: openAin 0.3s both;
  }
  .section3 .inner .modal-wrap.closeAni .modal-inner {
    animation: closeAin 0.3s both;
  }
  .section3 .inner .modal-wrap .modal-inner {
    max-width: 100%;
    top: auto;
    transform: translate(-50%, 0);
    bottom: 0;
  }
  .section3 .inner .modal-wrap .modal-inner .modal-head {
    padding: 20px;
  }
  .section3 .inner .modal-wrap .modal-inner .modal-head .tit {
    font-size: 20px;
  }
  .section3 .inner .modal-wrap .modal-inner .modal-head .btn-close .xi-close-min {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 25px;
  }
  .section3 .inner .modal-wrap .modal-inner .modal-body {
    padding: 0;
  }
}

.section4 .inner {
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.section4 .inner::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 1500px;
  border-radius: 50em;
  background-color: #ef4536;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 0;
}
.section4 .inner.aos-animate::before {
  animation: PcCircleAni 0.8s 0.3s both;
}
.section4 .inner .contant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-height: 100%;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
  z-index: 1;
}
.section4 .inner .box {
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.section4 .inner .my-info {
  flex: 4;
  padding: 100px 3vw;
  border: 2px solid;
  border-right: 0;
}
.section4 .inner .my-info li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 0;
}
.section4 .inner .my-info li a, .section4 .inner .my-info li span:not(.xi) {
  font-weight: bold;
}
.section4 .inner .my-info li .xi {
  font-size: 18px;
}
.section4 .inner .my-info li:nth-child(1) .xi {
  color: #f4c500;
}
.section4 .inner .my-info li:nth-child(2) .xi {
  color: #7a3ac7;
}
.section4 .inner .my-info li:nth-child(3) .xi {
  color: #0f84f4;
}
.section4 .inner .form-list {
  flex: 8;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4c500;
}
.section4 .inner .form-list ul {
  max-width: 600px;
  padding: 50px;
  width: 100%;
}
.section4 .inner .form-list ul li {
  padding: 10px 0 0;
}
.section4 .inner .form-list ul li textarea, .section4 .inner .form-list ul li input {
  display: block;
  background-color: #fefefe;
  width: 100%;
}
.section4 .inner .form-list ul li input {
  line-height: 40px;
  padding: 0 20px;
}
.section4 .inner .form-list ul li textarea {
  height: 150px;
  padding: 20px;
}
.section4 .inner .form-list ul li button {
  width: 100%;
  font-weight: 900;
  color: #fefefe;
  background-color: #222;
  padding: 15px 0;
}
.section4 .inner .form-list ul li .error {
  display: block;
  color: #ef4536;
  font-size: 12px;
  padding-top: 4px;
}
.section4 .inner .form-list ul li:first-child {
  padding-top: 0;
}
@media screen and (max-width: 1000px) {
  .section4 .inner .form-list ul {
    padding: 40px 40px 60px;
  }
}
@media screen and (max-width: 840px) {
  .section4 .inner {
    padding: 0;
    display: block;
  }
  .section4 .inner::before {
    width: 500px;
    height: 500px;
    border-radius: 50em;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .section4 .inner.aos-animate::before {
    animation: MoCircleAni 0.8s 0.3s both;
  }
  .section4 .inner .contant {
    padding: 50px 0 0;
    min-height: 100vh;
    background-color: transparent;
    box-shadow: none;
  }
  .section4 .inner .box {
    flex-direction: column;
    padding: 0;
  }
  .section4 .inner .my-info {
    flex: 2;
    width: 100%;
    border: 0;
    padding: 0 0 30px;
    text-align: center;
  }
  .section4 .inner .my-info li {
    justify-content: center;
    padding: 2px 0;
  }
  .section4 .inner .form-list {
    flex: 10;
  }
  .section4 .inner .form-list ul li input {
    padding: 0 10px;
  }
  .section4 .inner .form-list ul li textarea {
    height: 150px;
    padding: 10px;
  }
}
@media screen and (max-width: 760px) {
  .section4 .inner .form-list ul {
    padding: 40px 20px 60px;
  }
}

@keyframes circleAni1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes PcCircleAni {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes MoCircleAni {
  0% {
    top: -100%;
  }
  100% {
    top: -340px;
  }
}
.footer {
  position: relative;
  padding: 100px 20px;
  text-align: center;
  overflow: hidden;
  background-color: #222;
}
.footer .bg-star-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 10000%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.footer .bg-star-wrap .star {
  background-size: auto 100%;
  background-position: 50% 0;
  background-repeat: repeat-x;
  height: 100%;
  animation: twinkle 10s ease-in -5s infinite alternate, layer 344s linear infinite;
  background-image: url(../images/img/star1.png), url(../images/img/star2.png), url(../images/img/star3.png);
}
.footer .bg-star-wrap .star::before {
  animation: movingStar 3s linear;
  background-image: url(../images/img/d-star.png);
  background-size: 72px 50px;
  content: " ";
  height: 50px;
  left: 80%;
  position: absolute;
  top: -50px;
  width: 72px;
  z-index: 100;
}
.footer * {
  color: #fefefe;
}
.footer > div:not(.bg-star-wrap) {
  position: relative;
  z-index: 1;
}
.footer .font {
  font-family: "Libre Barcode 39", "Cabin Sketch", "Monoton";
  font-size: 80px;
  color: #f4c500;
}
.footer q {
  display: block;
  padding: 10px 0;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 60px 20px;
  }
  .footer .font {
    font-size: 50px;
  }
}

@keyframes twinkle {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes layer {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-689px, 0, 0);
  }
}
@keyframes movingStar {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-270px, 180px, 0);
  }
}

/*# sourceMappingURL=style.css.map */
